*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table{
    margin-left: 30%;
    margin-top: 10%;
}

#buttondiv{
    margin-left: 32%;
    margin-top: 50px;
}

button{
    margin-right: 50px;
    border: none;
    border: 2px solid rgb(18, 18, 65) ;
    padding: 5px;
    border-radius: 10px;
}

input{
    margin-right: 30px;
    border: 2px solid rgb(18, 18, 65);
    height: 50px;
    text-align: center;
    box-shadow: 5px 5px 7px black;
}

#resultdiv{
    margin-top: 50px;
    width: 500px;
    box-shadow: 5px 5px 10px rgb(77, 77, 7);
    margin-left:30% ;
}


#result{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}